/* Scss Document */

#gHead {
	border-bottom: 1px solid #666;
	padding: 45px 0;
	text-align: center;
}
#gFoot {
	border-top: 1px solid #666;
	padding: 45px 0;
	text-align: center;
}
.content {
	margin: 60px 0;
}
.mainContent {
	float: left;
	width: 700px;
}
.sideContent {
	float: right;
	width: 220px;
}
